* {
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  overscroll-behavior: none;
}

.vis {
  display: flex;
  align-items: center;
/* justify-content: center; */
}

.eniac {
  height: 100vh;
  cursor: default;
}
